@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-signin {
  background-image: url(https://content.tilney.co.uk/media/2869/inflation-cpi-image_1920x1080.jpg);
}

.bg-signin-div-form {
  background: rgba(248, 250, 252, 0.39);
  -moz-backdrop-filter: blur(50px);
}

.bg-signin-div-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px); /* Aplicando o desfoque no pseudoelemento */
  z-index: -1;
}

.header-full-width {
  width: calc(100% - 17rem);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
